@import "tailwindcss";

/* :root {
  --background: #FFFFFF;
  --mainText: #0D0D0D;
  --secundaryText: #444444;
  --headerText: #1A1A1A;
  --black: #000000;
  --white: #FFFFFF;
  --yellow: #B88A00;
  --darkYellow: #A07600;
  --red: #B33434;
  --darkRed: #8E2525;
} */



/* @media (prefers-color-scheme: dark) { */
  :root {
    --background: #0D0D0D;
    --backgroundFooter: #1A1A1A;
    --mainText: #E0E0E0;
    --secundaryText: #A3A3A3;
    --headerText: #1A1A1A;
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #D4AF37;
    --darkYellow: #B88A00;
    --red: #D94747;
    --darkRed: #B33434;
    --github: #2c3e3e;
    --linkedin: #2f4f4f;
    --phone: #7a9e7e;
  }
/* } */

body, html {
  background-color: var(--background);
  scroll-behavior: smooth;
}